.statistics {
    width: 350px;
    margin: auto;
    margin-top: 20px;
    border: solid 1px rgb(211, 221, 221);
}

.title {
    font-size: 16p;
    color: #333333;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.stat_list {
    padding-left: 0px;
    height: 60px;
    display: flex;
    list-style: none;
}

.item {
    width: 70px;
    border: solid 1px teal;
    background-color: darkslategray;

    background-color: ;
}

.label {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: white;
}

.percentage {
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}